@page "/product-form/{ProductId:guid?}"
@using System.ComponentModel.DataAnnotations
@inject IHttpClientFactory HttpClientFactory;
@inject NavigationManager NavigationManager;

<button @onclick="@(()=>NavigationManager.NavigateTo("/products"))" class="text-tata hover:text-blue-900 focus:outline-none">←</button>
<h2>Products</h2>
<EditForm Model="@Model" OnValidSubmit="@SumbitProduct">
	<DataAnnotationsValidator />
	<div class="p-6 mt-5 bg-white rounded-2xl shadow space-y-6">
		<!-- Product Name -->
		<div>
			<label class="block text-sm font-medium text-gray-700 mb-1">Product Name</label>
			<input @bind-value="Model.Name" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-tata" />
			<ValidationMessage For="() => Model.Name" />
		</div>
		<div>
			<label class="block text-sm font-medium text-gray-700 mb-1">Product LocalName</label>
			<input @bind-value="Model.LocalName" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-tata" />
			<ValidationMessage For="() => Model.LocalName" />
		</div>
		<div>
			<label class="block text-sm font-medium text-gray-700 mb-1">Product Brand</label>
			<input @bind-value="Model.Brand" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-tata" />
			<ValidationMessage For="() => Model.Brand" />
		</div>
		<div>
			<label class="block text-sm font-medium text-gray-700 mb-1">Description</label>
			<input @bind-value="Model.Description" type="text" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-tata" />
		</div>

		<div>
			<label class="block text-sm font-medium text-gray-700 mb-1">Category</label>
			<select @bind="Model.CategoryId" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-tata">
				<option value="">Select category</option>
				@foreach (var category in Categories)
				{
					<option value="@category.Id">@category.Name</option>
				}
			</select>
			<ValidationMessage For="() => Model.CategoryId" />
		</div>

		<div>
			<label class="block text-sm font-medium text-gray-700 mb-1">Unit</label>
			<select @bind="Model.UnitId" class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-tata">
				<option value="">Select Unit</option>
				@foreach (var unit in Units)
				{
					<option value="@unit.Id">@unit.Name</option>
				}
			</select>
			<ValidationMessage For="() => Model.UnitId" />
		</div>

		@* Save Button *@
		<div class="text-right">
			<button type="submit" class="bg-tata text-white px-6 py-2 rounded-lg hover:bg-blue-900 transition">
				Save
			</button>
		</div>

	</div>
</EditForm>

@code {

	[Parameter]
	public Guid ProductId { get; set; }

	public ProductDto Model { get; set; } = new();

	public List<EnityDto> Categories { get; set; } = new();
	public List<EnityDto> Units { get; set; } = new();

	private async Task LoadCategoryAsync()
	{
		try
		{
			var client = HttpClientFactory.CreateClient("CategoryApi");
			Categories = await client.GetFromJsonAsync<List<EnityDto>>("api/category") ?? new List<EnityDto>();
		}
		catch (Exception ex)
		{
			Console.Error.WriteLine($"Error fetching categories: {ex.Message}");
		}
	}

	private async Task LoadUnitAsync()
	{
		try
		{
			var client = HttpClientFactory.CreateClient("UnitApi");
			Units = await client.GetFromJsonAsync<List<EnityDto>>("api/unit") ?? new List<EnityDto>();
		}
		catch (Exception ex)
		{
			Console.Error.WriteLine($"Error fetching categories: {ex.Message}");
		}
	}


	protected override async Task OnInitializedAsync()
	{
		await LoadCategoryAsync();
		await LoadUnitAsync();

		if (ProductId != Guid.Empty)
		{
			HttpClient client = HttpClientFactory.CreateClient("ProductApi");
			var product = await client.GetFromJsonAsync<ProductDto>($"api/product/{ProductId}");
			if (product != null)
				Model = product;
		}
	}

	protected async Task SumbitProduct()
	{
		HttpClient client = HttpClientFactory.CreateClient("ProductApi");
		if (Model.Id == Guid.Empty)
		{
			await client.PostAsJsonAsync("api/product", Model);
		}
		else
		{
			await client.PutAsJsonAsync($"api/product/{Model.Id}", Model);
		}

		NavigationManager.NavigateTo("/products");
	}

	public class ProductDto
	{
		public Guid Id { get; set; }
		[Required(ErrorMessage = "Product name is required")]
		public string Name { get; set; } = string.Empty;
		public string LocalName { get; set; } = string.Empty;
		public string Brand { get; set; } = string.Empty;
		public string Description { get; set; } = string.Empty;
		public Guid CategoryId { get; set; } = Guid.Empty;
		public Guid UnitId { get; set; } = Guid.Empty;
		public int TotalQty { get; set; }
	}

	public class EnityDto
	{
		public Guid Id { get; set; }
		public string Name { get; set; } = string.Empty;
	}


}
